# deps.edn
.cpcache/

# Database
/db/

# Linting
#
# clj-kondo defines lints for popular libraries at the directory folder, which is annoying, since future adds could leak
# into the version control.
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/hooks
.lsp/.cache/

# Config (default)
resources/config.edn
