{:commands [{:name "wikipedia"
             :description "Search Wikipedia."
             :options [{:type 3
                        :name "query"
                        :description "Search query."
                        :required true}]}]}
