{:paths ["src" "resources"]
 :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.5.640"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.7"}
        ch.qos.logback/logback-core {:mvn/version "1.2.7"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        com.xtdb/xtdb-core {:mvn/version "1.19.0"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.19.0"}
        compact-uuids/compact-uuids {:mvn/version "0.2.0"}
        ;; Used by clj-http to decode response bodies.
        clj-http/clj-http {:mvn/version "3.12.3"}
        hickory/hickory {:mvn/version "0.7.1"}
        org.slf4j/slf4j-api {:mvn/version "1.7.32"}
        org.suskalo/discljord {:mvn/version "1.3.0-RC2"}
        tick/tick {:mvn/version "0.5.0-RC5"}}}
