;; This file as a default is probably a bad idea.
{;; Descriptions should be in third person and oblivious of the user (e.g. no "you"s).
 ;;
 ;; Currently the only supported fields are :name (the command/option as a string distinct from the internal name) and
 ;; :description (the description to send Discord).
 :kyleerhabor.assistant.bot.command/commands {:avatar {:description "Displays a user's avatar."
                                                       :options {:user {:description "The user to retrieve the avatar of, defaulting to whoever ran the command."}
                                                                 :size {:description "The largest size to return the avatar in. Actual avatar size will be lower if unavailable."}
                                                                 :attach {;; The second sentence could be improved.
                                                                          ;; After what updates? Also, to users in the
                                                                          ;; app, the first part may be confusing, since
                                                                          ;; sending avatars as links appear as
                                                                          ;; attachments.
                                                                          :description "Whether or not to send the avatar as an attachment. Useful for retaining avatars after updates."}}}
                                              :purge {:description "Deletes messages in a channel."
                                                      :options {:amount {:description "The largest number of messages to delete. Actual amount may be lower."}}}}}
